.coin_container {
    display: flex;
    justify-content: center;
    background-color: black;
}
  
.coin_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid #2e2e2e;
  width: 1150px;
  padding: 0rem 2rem;
}

.coin_row:hover {
  background: #3a3a49;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.coin_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin_h1 {
  font-size: 17px;
  width: 150px;
}

.coin_symbol {
  text-transform: uppercase;
}

.coin_change_24_hrs {
  width: 150px;
  background-color: white;
}

.coin_data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin_price {
  width: 180px;
}

.coin_volume {
  width: 155px;
}

.coin_marketcap {
  width: 230px;
}

.coin_percent {
  width: 150px;
}

.remove_button {
  background-color: white;
  border-radius: 10%;
  height: 50px;
  padding-top: 0;
  margin-top: 25px;
  width: 65px;
}

.coin_price_change_24h {
  width: 120px;
}

.red {
  color: #f00606;
  width: 130px;
}

.green {
  color: #13c783;
  width: 130px;
}