.coin_page {
    display: flex;
    justify-content: center;
    height: 75vh;
    align-items: center;
  }
  
  .coin_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f9fcfb;
    border-radius: 10px;
    padding: 4rem;
    width: 340px;
    margin-top: 5rem;
  }
  
  .coin_image {
    display: flex;
    margin-bottom: 1rem;
    height: 100px;
    width: 100px;
  }
  
  .coin_name {
    margin-bottom: none;
    font-size: 24px;
  }
  
  .coin_ticker {
    margin-bottom: 0rem;
  }
  
  .coin_current {
    margin-bottom: 0rem;
    font-size: 28px;
  }

  /* .coin_high_24h {
    margin-bottom: 1rem;
  } */

  /* .coin_price_change_24h {
    margin-bottom: 2rem;
  } */

  .red {
    color: #f00606;
    margin-bottom: 1rem;
    border: solid;
    border-color: #cebfbf;
    margin-top: 7px;
  }
  
  .green {
    color: #13c783;
    margin-bottom: 1rem;
    border: solid;
    border-color: #cebfbf;
  }

  .coin_button { 
    margin-top: 10px;
    font-size: 18px;
    padding: 3px;
    border: solid;
    border-color: #b3b4b4;
    border-radius: 10px;
    background-color: rgb(246, 251, 252);
    font-family: 'Roboto', sans-serif;
  }

  .coin_button:hover {     
    background-color: rgb(172, 168, 168);
    border-color: beige;
  }