.coin_container {
    display: flex;
    justify-content: center;
    background-color: #1d2424;
    border-radius: 5px;
  }
  
  .coin_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #575a5a;
    width: 1050px;
    padding: 0rem 2rem;
  }
  
  .coin_row:hover {
    background: #3a3a49;
  }
  
  .coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
  }
  
  .coin_img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .coin_h1 {
    text-align: center;
    font-size: 16px;
    width: 150px;
  }
  
  .coin_symbol {
    text-transform: uppercase;
  }
  
  .coin_data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
  }
  
  .coin_price {
    width: 120px;
  }
  
  .coin_volume {
    width: 145px;
  }
  
  .coin_marketcap {
    width: 230px;
  }
  
  .coin_percent {
    width: 100px;
  }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #13c783;
  }